
@{
    ViewBag.Title = "_Footer";
}

<div class="footer-copyright" id="myfooter">
    <div class="container-fluid">
        <hr />
        <p>&nbsp;&nbsp;&nbsp;&nbsp; &copy; MDY - @DateTime.Now.Year - Repeat Caller</p>
    </div>
</div>

