
@{
    ViewBag.Title = "Campanias";
}

<h2>Campanias</h2>
<button type="button" class="btn btn-success btn-number" data-type="plus" onclick="crearCampaña()">
    <span class="glyphicon glyphicon-plus"></span>
</button>
<br />
<br />
<table class="table table-bordered" style="border-radius: 5px;width: 50%;margin: 0px auto;float: none;">
    <thead class="blue-grey lighten-4">
        <tr class="success">
            <th align="center">Nro</th>
            <th align="center">Campaña</th>
            <th align="center">Accion</th>
        </tr>
    </thead>
    <tbody id="listarCampañas"></tbody>
</table>

<div class="modal fade" id="dvCampañas" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="dvCampañasLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:30%;">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom:0px;">
                <fieldset class="border:solid 1px;padding:10px;">
                    <legend class="ng-binding" style="width:auto;border-bottom:0;margin-bottom:10px;font-size:16px;font-style:italic;color:#B7B7B7;">Crear nueva Campaña</legend>
                    <div class="form-group">
                        <label class="col-sm-12 col-md-3 col-lg-3 control-label" for="campania" style="padding-top:10px;padding-left:10px;">Campaña:</label>
                        <div class="col-sm-12 col-md-9 col-lg-9">
                            <input type="text" id="campania" placeholder="ingrese nombre de la campaña" class="form-control" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer" style="padding-bottom:5px;padding-top:5px;">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="guardarCampaña()">Guardar</button>
                <span style="display:none;" id="verifica"></span>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/scripts/Campanias")
