
@{
    ViewBag.Title = "Reporte";
}
<br />
<br />
<div class="panel panel-success">
    <div class="panel-heading" style="padding-bottom:0px;"><h4>REPORTES</h4></div>
    <div class="panel-body">
        <form id="formReporte">
            <div class="row">
                <div class="form-group col-sm-12 col-md-4 col-lg-4">
                    <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="campania" style="padding-top:10px;padding-left:10px;">Campaña:</label>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <select class="form-control" id="campania" required>
                            <option value="">--SELECCIONAR--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4">
                    <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="tipo" style="padding-top:10px;padding-left:10px;">Tipo:</label>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <select class="form-control" id="tipo" onchange="mostrarDiv(this);" required>
                            <option value="">--SELECCIONAR--</option>
                            <option value="1">Reporte cruce de datos</option>
                            <option value="2">Reporte sin cruce de datos</option>
                            <option value="3">Reporte IVR</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4">
                    <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="fecha" style="padding-top:10px;padding-left:10px;">Fecha<span id="ini"></span>:</label>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <input type="date" class="form-control" placeholder="YYYY-MM-DD" id="fecha" style="cursor:pointer;" onchange="validarFecha(this);" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 col-md-4 col-lg-4" id="divff" style="display:none;">
                    <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="fechaFinal" style="padding-top:10px;padding-left:10px;">Fecha final:</label>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <input type="date" class="form-control" placeholder="YYYY-MM-DD" id="fechaFinal" style="cursor:pointer;" disabled>
                    </div>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4"></div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4"></div>
            </div>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Descargar</button>
        </form>
        <!--<button class="btn btn-primary" onclick="traerReporte();"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Descargar</button>-->
    </div>
</div>
<div class="modal fade" id="dvBasesFaltantes" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="dvBasesFaltantes" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom:0px;padding-top:10px;">
                <fieldset class="border:solid 1px;padding:10px;">
                    <legend class="ng-binding" style="width:auto;border-bottom:0;margin-bottom:10px;font-size:16px;font-style:italic;color:#B7B7B7;">Bases faltantes</legend>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="blue-grey lighten-4">
                                <tr class="success">
                                    <th>Nro</th>
                                    <th>Fecha</th>
                                    <th>Tipo</th>
                                </tr>
                            </thead>
                            <tbody id="listBasesFaltantes"></tbody>
                        </table>
                        <p>Estas son las Bases faltantes. ¿Aun asi desea descargar el <span id="nameReporte"></span> ?</p>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer" style="padding-top:5px;padding-bottom:5px;">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button class="btn btn-success" onclick="traerReporte();" data-dismiss="modal" aria-hidden="true">Descargar</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/scripts/Reporte")
